*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Times New Roman", Times, serif;
}


body{
  background: linear-gradient(135deg, #f0f8ff, #cceeff);
  color:#333;
  overflow-x:hidden;
}


.heart{
  position:fixed;
  color:#ff6b9c;
  font-size:20px;
  animation: float 6s linear infinite;
  opacity:.6;
}

@keyframes float{
  0%{transform:translateY(100vh);opacity:0}
  50%{opacity:.8}
  100%{transform:translateY(-10vh);opacity:0}
}


header{
  text-align:center;
  padding:70px 20px 40px;
}

header h1{
  font-size:40px;
  letter-spacing:3px;
}

header p{
  margin-top:10px;
  font-size:16px;
  color:#666;
}


nav{
  display:flex;
  justify-content:center;
  gap:30px;
  margin-bottom:20px;
}

nav a{
  text-decoration:none;
  font-size:14px;
  letter-spacing:1px;
  color:#555;
  position:relative;
}

nav a::after{
  content:"";
  width:0;
  height:2px;
  background:#ff6b9c;
  position:absolute;
  left:0;
  bottom:-5px;
  transition:.3s;
}

nav a:hover::after{
  width:100%;
}


section{
  max-width:900px;
  margin:auto;
  padding:50px 20px;
  text-align:center;
}

.slider{
  width:90%;
  max-width:350px;  
  aspect-ratio: 3 / 4;
  margin:40px auto;
  border-radius:20px;
  overflow:hidden;
  box-shadow:0 15px 35px rgba(0,0,0,.2);
  position:relative;
}

.slide{
  position:absolute;
  inset:0;
  opacity:0;
  transform:scale(1.05);
  transition:1s ease;
}

.slide img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.slide.active{
  opacity:1;
  transform:scale(1);
}


h2{
  font-size:28px;
  margin-bottom:20px;
}

.letter{
  background:white;
  padding:35px;
  border-radius:15px;
  box-shadow:0 10px 25px rgba(0,0,0,.08);
  animation: fadeUp 1.2s ease;
}

@keyframes fadeUp{
  from{opacity:0;transform:translateY(30px)}
  to{opacity:1;transform:translateY(0)}
}


.music iframe{
  border-radius:15px;
  margin-top:10px;
}


footer{
  text-align:center;
  padding:40px;
  font-size:14px;
  color:#888;
}

.slider:hover{
  box-shadow:0 20px 45px rgba(255,107,156,.45);
  transform:scale(1.02);
  transition:.4s;
}


.letter p{
  
  font-family: 'Great Vibes', cursive;
  font-size: 22px;
  line-height: 1.8;
}



section{
  opacity:0;
  transform:translateY(30px);
  animation: sectionFade 1.2s forwards;
}

section:nth-of-type(1){animation-delay:.2s}
section:nth-of-type(2){animation-delay:.5s}
section:nth-of-type(3){animation-delay:.8s}
section:nth-of-type(4){animation-delay:1.1s}

@keyframes sectionFade{
  to{opacity:1; transform:translateY(0)}
}


.click-heart{
  position:fixed;
  font-size:18px;
  pointer-events:none;
  animation: pop 1s ease forwards;
}

@keyframes pop{
  0%{transform:scale(0); opacity:1}
  100%{transform:scale(2); opacity:0}
}

.love-btn-wrap{
  text-align:center;
  margin-bottom:40px;
}
.love-btn{
  padding:14px 36px;
  font-size:16px;
  border:none;
  border-radius:30px;
  background:linear-gradient(135deg,#ff9ecb,#ffd6e9);
  color:#444;
  cursor:pointer;
  box-shadow:0 8px 20px rgba(255,158,203,.45);
  transition:.3s;
}

.love-btn:hover{
  transform:scale(1.08);
}

.love-text{
  position:fixed;
  font-weight:bold;
  color:#ff6fae;
  pointer-events:none;
  animation: floatLove 3.5s ease forwards;
}


.sparkle{
  position:fixed;
  width:6px;
  height:6px;
  border-radius:50%;
  background:rgba(255,182,193,.9);
  animation: sparkle 2.5s ease forwards;
  pointer-events:none;
}

@keyframes floatLove{
  0%{opacity:0; transform:translateY(0) scale(.6)}
  30%{opacity:1}
  100%{opacity:0; transform:translateY(-160px) scale(1.4)}
}

@keyframes sparkle{
  0%{opacity:1; transform:scale(1)}
  100%{opacity:0; transform:translateY(-80px) scale(0)}
}


@media(max-width:600px){
  .love-text{font-size:14px}
  .love-btn{font-size:15px;padding:12px 30px}
}

.hidden{
  display:none;
}


.intro-screen{
  position:fixed;
  inset:0;
  background:rgb(227, 222, 222);
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:99999;
  overflow:hidden;
}

.intro-text{
  font-family: 'Great Vibes', cursive !important;
  font-size: 60px;
  font-weight: 400;
  color:#555;
  text-align:center;
  opacity:0;
  animation:weddingFade 4s ease forwards;
}


@keyframes weddingFade{
  0%{
    opacity:0;
    transform:scale(.95);
  }
  25%{
    opacity:1;
    transform:scale(1);
  }
  75%{
    opacity:1;
  }
  100%{
    opacity:0;
    transform:scale(1.03);
  }
}

@media(max-width:600px){
  .slider {
    max-width:280px; 
  }

  .slider img {
    max-height:250px; 
  }
}


